{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/categories.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/categories_responsive.css' %}">
<!-- MAPS -->
<script src='https://api.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block content %}

	<!-- Products -->

	<div class="products" style="margin-top: 45px;">
		<div class="container">
				<div class="newsletter_title" style="margin-top: 130px; font-size: 180%">
					<strong style="margin-right: 20px">Hai cercato:</strong>
						<span style="font-size: 85%">"scarpe adidas basse"</span>
				</div>
			<div class="row">
				<div class="col">
					
					<!-- Product Sorting -->
					<div class="sorting_bar d-flex flex-md-row flex-column align-items-md-center justify-content-md-start"
						style="padding-top: 30px; padding-bottom: 30px">
						<div class="results"><span>12</span> risultati ottenuti</div>
						<div class="sorting_container ml-md-auto">
							<div class="sorting">
								<ul class="item_sorting">
									<li>
										<span class="sorting_text">Ordina per</span>
										<i class="fa fa-chevron-down" aria-hidden="true"></i>
										<ul>
											<li class="product_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Rilevanza</span></li>
											<li class="product_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Prezzo</span></li>
											<li class="product_sorting_btn" data-isotope-option='{ "sortBy": "stars" }'><span>Distanza</span></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					
					<div class="product_grid">

						<!-- Product List -->
						{% include "components/product_list.html" %}

					</div>
					<div class="product_pagination">
						<ul>
							<li class="active"><a href="#">01.</a></li>
							<li><a href="#">02.</a></li>
							<li><a href="#">03.</a></li>
						</ul>
					</div>
						
				</div>
			</div>
		</div>
	</div>

<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoiamVmZnJleWxlYm93c2tpOTAiLCJhIjoiY2pxdXE0MzNnMGxlMzN4bjBycmZjMWw4OCJ9.BZrqyavzNry4ejuDEcgrNQ';
	var map = new mapboxgl.Map({
		container: 'map',
		style: 'mapbox://styles/mapbox/streets-v10',
		center: [9.12, 39.22],
		zoom: 12.8
		});
	var marker = new mapboxgl.Marker()
		.setLngLat([9.12, 39.22])
		.addTo(map);
</script>
	
{% endblock %}

{% block js %}
<script src="{% static 'js/categories.js' %}"></script>
{% endblock %}