<script>
    var lngLat = [9.125, 39.220]
    mapboxgl.accessToken = 'pk.eyJ1IjoiamVmZnJleWxlYm93c2tpOTAiLCJhIjoiY2pxdXE0MzNnMGxlMzN4bjBycmZjMWw4OCJ9.BZrqyavzNry4ejuDEcgrNQ';
    var map = new mapboxgl.Map({
        container: 'map1',
        style: 'mapbox://styles/mapbox/streets-v10',
        center: lngLat,
        zoom: 13
        });
    var marker = new mapboxgl.Marker()
        .setLngLat(lngLat)
        .addTo(map);
</script>

<script>
    var lngLat = [9.110, 39.215]
    mapboxgl.accessToken = 'pk.eyJ1IjoiamVmZnJleWxlYm93c2tpOTAiLCJhIjoiY2pxdXE0MzNnMGxlMzN4bjBycmZjMWw4OCJ9.BZrqyavzNry4ejuDEcgrNQ';
    var map = new mapboxgl.Map({
        container: 'map2',
        style: 'mapbox://styles/mapbox/streets-v10',
        center: lngLat,
        zoom: 13
        });
    var marker = new mapboxgl.Marker()
        .setLngLat(lngLat)
        .addTo(map);
</script>

<script>
    var lngLat = [9.090, 39.256]
    mapboxgl.accessToken = 'pk.eyJ1IjoiamVmZnJleWxlYm93c2tpOTAiLCJhIjoiY2pxdXE0MzNnMGxlMzN4bjBycmZjMWw4OCJ9.BZrqyavzNry4ejuDEcgrNQ';
    var map = new mapboxgl.Map({
        container: 'map3',
        style: 'mapbox://styles/mapbox/streets-v10',
        center: lngLat,
        zoom: 13
        });
    var marker = new mapboxgl.Marker()
        .setLngLat(lngLat)
        .addTo(map);
</script>

<script>
    var lngLat = [9.018, 39.282]
    mapboxgl.accessToken = 'pk.eyJ1IjoiamVmZnJleWxlYm93c2tpOTAiLCJhIjoiY2pxdXE0MzNnMGxlMzN4bjBycmZjMWw4OCJ9.BZrqyavzNry4ejuDEcgrNQ';
    var map = new mapboxgl.Map({
        container: 'map4',
        style: 'mapbox://styles/mapbox/streets-v10',
        center: lngLat,
        zoom: 13
        });
    var marker = new mapboxgl.Marker()
        .setLngLat(lngLat)
        .addTo(map);
</script>

<script>
    var lngLat = [9.125, 39.220]
    mapboxgl.accessToken = 'pk.eyJ1IjoiamVmZnJleWxlYm93c2tpOTAiLCJhIjoiY2pxdXE0MzNnMGxlMzN4bjBycmZjMWw4OCJ9.BZrqyavzNry4ejuDEcgrNQ';
    var map = new mapboxgl.Map({
        container: 'map5',
        style: 'mapbox://styles/mapbox/streets-v10',
        center: lngLat,
        zoom: 13
        });
    var marker = new mapboxgl.Marker()
        .setLngLat(lngLat)
        .addTo(map);
</script>

<script>
    var lngLat = [9.110, 39.215]
    mapboxgl.accessToken = 'pk.eyJ1IjoiamVmZnJleWxlYm93c2tpOTAiLCJhIjoiY2pxdXE0MzNnMGxlMzN4bjBycmZjMWw4OCJ9.BZrqyavzNry4ejuDEcgrNQ';
    var map = new mapboxgl.Map({
        container: 'map6',
        style: 'mapbox://styles/mapbox/streets-v10',
        center: lngLat,
        zoom: 13
        });
    var marker = new mapboxgl.Marker()
        .setLngLat(lngLat)
        .addTo(map);
</script>

<script>
    var lngLat = [9.090, 39.256]
    mapboxgl.accessToken = 'pk.eyJ1IjoiamVmZnJleWxlYm93c2tpOTAiLCJhIjoiY2pxdXE0MzNnMGxlMzN4bjBycmZjMWw4OCJ9.BZrqyavzNry4ejuDEcgrNQ';
    var map = new mapboxgl.Map({
        container: 'map7',
        style: 'mapbox://styles/mapbox/streets-v10',
        center: lngLat,
        zoom: 13
        });
    var marker = new mapboxgl.Marker()
        .setLngLat(lngLat)
        .addTo(map);
</script>

<script>
    var lngLat = [9.018, 39.282]
    mapboxgl.accessToken = 'pk.eyJ1IjoiamVmZnJleWxlYm93c2tpOTAiLCJhIjoiY2pxdXE0MzNnMGxlMzN4bjBycmZjMWw4OCJ9.BZrqyavzNry4ejuDEcgrNQ';
    var map = new mapboxgl.Map({
        container: 'map8',
        style: 'mapbox://styles/mapbox/streets-v10',
        center: lngLat,
        zoom: 13
        });
    var marker = new mapboxgl.Marker()
        .setLngLat(lngLat)
        .addTo(map);
</script>

<script>
    var lngLat = [9.125, 39.220]
    mapboxgl.accessToken = 'pk.eyJ1IjoiamVmZnJleWxlYm93c2tpOTAiLCJhIjoiY2pxdXE0MzNnMGxlMzN4bjBycmZjMWw4OCJ9.BZrqyavzNry4ejuDEcgrNQ';
    var map = new mapboxgl.Map({
        container: 'map9',
        style: 'mapbox://styles/mapbox/streets-v10',
        center: lngLat,
        zoom: 13
        });
    var marker = new mapboxgl.Marker()
        .setLngLat(lngLat)
        .addTo(map);
</script>

<script>
    var lngLat = [9.110, 39.215]
    mapboxgl.accessToken = 'pk.eyJ1IjoiamVmZnJleWxlYm93c2tpOTAiLCJhIjoiY2pxdXE0MzNnMGxlMzN4bjBycmZjMWw4OCJ9.BZrqyavzNry4ejuDEcgrNQ';
    var map = new mapboxgl.Map({
        container: 'map10',
        style: 'mapbox://styles/mapbox/streets-v10',
        center: lngLat,
        zoom: 13
        });
    var marker = new mapboxgl.Marker()
        .setLngLat(lngLat)
        .addTo(map);
</script>

<script>
    var lngLat = [9.090, 39.256]
    mapboxgl.accessToken = 'pk.eyJ1IjoiamVmZnJleWxlYm93c2tpOTAiLCJhIjoiY2pxdXE0MzNnMGxlMzN4bjBycmZjMWw4OCJ9.BZrqyavzNry4ejuDEcgrNQ';
    var map = new mapboxgl.Map({
        container: 'map11',
        style: 'mapbox://styles/mapbox/streets-v10',
        center: lngLat,
        zoom: 13
        });
    var marker = new mapboxgl.Marker()
        .setLngLat(lngLat)
        .addTo(map);
</script>

<script>
    var lngLat = [9.018, 39.282]
    mapboxgl.accessToken = 'pk.eyJ1IjoiamVmZnJleWxlYm93c2tpOTAiLCJhIjoiY2pxdXE0MzNnMGxlMzN4bjBycmZjMWw4OCJ9.BZrqyavzNry4ejuDEcgrNQ';
    var map = new mapboxgl.Map({
        container: 'map12',
        style: 'mapbox://styles/mapbox/streets-v10',
        center: lngLat,
        zoom: 13
        });
    var marker = new mapboxgl.Marker()
        .setLngLat(lngLat)
        .addTo(map);
</script>