{% load static %}

<div class="product">
    <div class="product_image">
        <img src="{% static 'images/product_1.jpg' %}" alt="">
        <button class="btn btn-outline-info btn-sm" style="position:absolute; bottom: 0%; right: 0%">
            vedi mappa</button>
    </div>
    <div class="product_extra product_new"><a href="{% url 'categories' %}">New</a></div>
    <div class="product_content">
        <div class="product_title"><a href="/product">adidas Performance</a></div>
        <div class="product_price" style="font-size: 0.96em">Via Dante <i>(4,5 km da te)</i></div>
        <div class="product_price" style="color:red">83,90 €</div>
    </div>
</div>

<!-- Product -->
<div class="product">
    <div class="product_image"><img src="{% static 'images/product_2.jpg' %}" alt=""></div>
    <div class="product_extra product_sale"><a href="{% url 'categories' %}">Sale</a></div>
    <div class="product_content">
        <div class="product_title"><a href="/product">adidas Performance</a></div>
        <div class="product_price" style="font-size: 0.96em">Via Roma <i>(1 km da te)</i></div>
        <div class="product_price" style="color:red">58,49 €</div>
    </div>
</div>

<!-- Product -->
<div class="product">
    <div class="product_image"><img src="{% static 'images/product_3.jpg' %}" alt=""></div>
    <div class="product_content">
        <div class="product_title"><a href="/product">adidas Performance</a></div>
        <div class="product_price" style="font-size: 0.96em">Viale Monastir <i>(10 km da te)</i></div>
        <div class="product_price" style="color:red">40,00 €</div>
    </div>
</div>

<!-- Product -->
<div class="product">
    <div class="product_image"><img src="{% static 'images/product_4.jpg' %}" alt=""></div>
    <div class="product_content">
        <div class="product_title"><a href="/product">adidas Performance</a></div>
        <div class="product_price" style="font-size: 0.96em">C.so Asia ASSEMINI <i>(9 km da te)</i></div>
        <div class="product_price" style="color:red">43,99 €</div>
    </div>
</div>

<!-- Product -->
<div class="product">
    <div class="product_image"><img src="{% static 'images/product_5.jpg' %}" alt=""></div>
    <div class="product_content">
        <div class="product_title"><a href="/product">adidas Performance</a></div>
        <div class="product_price" style="font-size: 0.96em">Via Dante <i>(4,5 km da te)</i></div>
        <div class="product_price" style="color:red">77,99 €</div>
    </div>
</div>

<!-- Product -->
<div class="product">
    <div class="product_image"><img src="{% static 'images/product_6.jpg' %}" alt=""></div>
    <div class="product_extra product_hot"><a href="{% url 'categories' %}">Hot</a></div>
    <div class="product_content">
        <div class="product_title"><a href="/product">adidas Performance</a></div>
        <div class="product_price" style="font-size: 0.96em">Via Roma <i>(1 km da te)</i></div>
        <div class="product_price" style="color:red">60,00 €</div>
    </div>
</div>

<!-- Product -->
<div class="product">
    <div class="product_image"><img src="{% static 'images/product_7.jpg' %}" alt=""></div>
    <div class="product_content">
        <div class="product_title"><a href="/product">adidas Performance</a></div>
        <div class="product_price" style="font-size: 0.96em">Viale Monastir <i>(10 km da te)</i></div>
        <div class="product_price" style="color:red">52,40 €</div>
    </div>
</div>

<!-- Product -->
<div class="product">
    <div class="product_image"><img src="{% static 'images/product_8.jpg' %}" alt=""></div>
    <div class="product_extra product_sale"><a href="{% url 'categories' %}">Hot</a></div>
    <div class="product_content">
        <div class="product_title"><a href="/product">adidas Performance</a></div>
        <div class="product_price" style="font-size: 0.96em">C.so Asia ASSEMINI <i>(9 km da te)</i></div>
        <div class="product_price" style="color:red">58,49 €</div>
    </div>
</div>

<!-- Product -->
<div class="product">
    <div class="product_image"><img src="{% static 'images/product_9.jpg' %}" alt=""></div>
    <div class="product_extra product_sale"><a href="{% url 'categories' %}">Hot</a></div>
    <div class="product_content">
        <div class="product_title"><a href="/product">adidas Performance</a></div>
        <div class="product_price" style="font-size: 0.96em">Via Dante <i>(4,5 km da te)</i></div>
        <div class="product_price" style="color:red">90,99 €</div>
    </div>
</div>

<!-- Product -->
<div class="product">
    <div class="product_image"><img src="{% static 'images/product_10.jpg' %}" alt=""></div>
    <div class="product_extra product_sale"><a href="{% url 'categories' %}">Hot</a></div>
    <div class="product_content">
        <div class="product_title"><a href="/product">adidas Performance</a></div>
        <div class="product_price" style="font-size: 0.96em">Via Roma <i>(1 km da te)</i></div>
        <div class="product_price" style="color:red">35,99 €</div>
    </div>
</div>

<!-- Product -->
<div class="product">
    <div class="product_image"><img src="{% static 'images/product_11.jpg' %}" alt=""></div>
    <div class="product_extra product_sale"><a href="{% url 'categories' %}">Hot</a></div>
    <div class="product_content">
        <div class="product_title"><a href="/product">adidas Performance</a></div>
        <div class="product_price" style="font-size: 0.96em">Viale Monastir <i>(10 km da te)</i></div>
        <div class="product_price" style="color:red">65,00 €</div>
    </div>
</div>

<!-- Product -->
<div class="product">
    <div class="product_image"><img src="{% static 'images/product_12.jpg' %}" alt=""></div>
    <div class="product_extra product_sale"><a href="{% url 'categories' %}">Hot</a></div>
    <div class="product_content">
        <div class="product_title"><a href="/product">adidas Performance</a></div>
        <div class="product_price" style="font-size: 0.96em">C.so Asia ASSEMINI <i>(9 km da te)</i></div>
        <div class="product_price" style="color:red">51,99 €</div>
    </div>
</div>